<!-- フッター -->
<footer class="page-footer">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Fotter</h5>
      <p class="grey-text text-lighten-4">Made in Japan.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">コンテンツ</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">検索へ</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">マイリストへ</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">未読へ</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">既読へ</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
      <%= link_to root_path, :class => "grey-text text-lighten-4 right" do %>HOME<% end %>
    </div>
  </div>
</footer>
