<ul id="dropdown1" class="dropdown-content">
  <li><a href="#">ジャンル1</a></li>
  <li><a href="#">ジャンル2</a></li>
  <li><a href="#">ジャンル3</a></li>
  <li><a href="#">ジャンル4</a></li>
  <li></li>
</ul>
<div class="navbar-fixed">
  <nav class="cyan lighten-2" role="navigation">
    <div class="nav-wrapper">
      <div class="logo-position">
        <%= link_to root_path, :class => "brand-logo orange-text accent-1" do %>
        <font face="arial black">BOOKLOG</font>
        <% end %>
      </div>

      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-button" class="button-collapase" href="#!" data-activates="dropdown1">検索ジャンル<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>
