<%= form_tag review_search_path do %>
<ul id="genre-select" name="genre" class="dropdown-content">
  <% @genres.each do |genre| %>
    <li>
      <%= link_to(genre.name, review_path(genre_id: genre.id)) %>
    </li>
  <% end %>
</ul>
<% end %>
<div class="navbar-fixed">
  <nav class="cyan lighten-2" role="navigation">
    <div class="nav-wrapper">
      <div class="logo-position">
        <%= link_to root_path, :class => "brand-logo orange-text accent-1" do %>
        <font face="arial black">BOOKLOG</font>
        <% end %>
      </div>

      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-button" class="button-collapase"  data-activates="genre-select">検索ジャンル<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li>
          <%= form_tag review_search_path, remote: true, :class=>"book_search" do %>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
