/*スライドバー*/
.container .slider-title-icons {
  font-size:120%;
  display: inline-flex;
  vertical-align: middle;
}

.slider-container {
  position: relative;
}

.ranking-slider .slick-initialized,
.ever-read-slider .slick-initialized,
.never-read-slider .slick-initialized {
  display: block;
}

#arrows .ranking-slider-prev,
#arrows .never-read-slider-prev,
#arrows .ever-read-slider-prev {
  left: -45px;
  top: 37%;
}

#arrows .ranking-slider-next,
#arrows .never-read-slider-next,
#arrows .ever-read-slider-next {
  right: -30px;
  top: 37%;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  color: #e53935;
  line-height: 1;
  opacity: .75;
}

.slick-slide {
  padding: 1.5em 0;
  height: 310px;
  background-color: #424242;
  text-align: center;
  font-size: 1.1em;
  outline: 0;
}

.ranking-slider .content-img,
.never-read-slider .content-img,
.ever-read-slider .content-img {
  max-width: 100%;
  height: 200px;
  max-height: 270px;
  margin: 0 auto;
}

.slider .content-img {
  max-width: 100%;
  height: 200px;
  max-height: 270px;
  margin: 0 auto;
}


.book-title {
  margin: 5px 5px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.book-title-position {
  margin-top: 20px !important;
}
